# 1. Introduction :
   1. Programmer et tester les fonctions de l’exercice 1 du TD n° 03.

In [2]:
# Assignation des variables HT et TVA en input
HT=int(input('Hors Taxe :' ))
TVA= int(input('TVA:' ))

# Fonction calculant la TVA
def TTC(HT,TVA):
    
    #Calcule de la valeur TTC
    return((HT*(1+TVA/100)))

# appel de la fonction TTC avec HT et TVA
TTC(HT,TVA)

39.0

2. Créer ensuite 2 fonctions permettant de calculer la résistance équivalente à deux résistances associées  en
série, puis la résistance équivalente à deux résistances associées en parallèle.

In [3]:
#  Initialisation de 3 valeurs en input de R2 , R3 et R1
R2=int(input('la valeur de R2: '))
R3=int(input('la valeur de R3: ')) 
R1=int(input('la valeur de R1: '))

#Fonction permattant de calculer series
def ser(R2,R3): 
    # calcul de la fonction
    return(R2+R3)
#Assignation de la valeur de R23 au resultat de la fonction
R23=ser(R2,R3)

#Fonction permettant le calcul en derivation
def der(R1,R23):

    # Calcul de la deriver 
    return((R1*R23)/(R1+R23))

# Assignation de la resistance R123
R123=der(R1,R23) 

# Affichage des resultats
print(f'la valeur de la resistance R23 est de {ser(R2,R3)} ohm')
print (f'la valeur de la resistance R231 est de {R123:.3} ohm')

la valeur de la resistance R23 est de 60 ohm
la valeur de la resistance R231 est de 20.0 ohm

3. Calculer alors la résistance équivalente au montage suivant avec R1=R2=R3...R7=100Ω, puis R1=100Ω,
R2=200 , ΩR3=300 , Ω..., R7=700Ω

In [4]:
# Assignation des valeurs de toutes les résistances
R1=int(input('la valeur de R1: '))
R2=int(input('la valeur de R2: '))
R3=int(input('la valeur de R3: ')) 
R4=int(input('la valeur de R4: ')) 
R5=int(input('la valeur de R5: '))
R6=int(input('la valeur de R6: ')) 
R7=int(input('la valeur de R7: ')) 

# Fonction de calcul en series
def ser(R2,R3): 
    # Calcul
    return(R2+R3)

# Assignation de la resistance R23
R23=ser(R2,R3)

# Fonction de calcul en derivations
def der(R1,R23):
    # Calcul
    return((R1*R23)/(R1+R23))

# Assignation de la resistance R123
R123=der(R1,R23) 

# Fonction de calcul en derivations
def der1(R5,R6):
    # Calcul
    return((R5*R6)/(R5+R6))

# Assignation de la resistance R56
R56=der1(R5,R6) 

# Fonction de calcul en series
def ser1(R4,R56):
    # Calcul 
    return(R4+R56)

# Assignation de la resistance R456
R456=ser1(R4,R56)

# Fonction de calcul en series
def ser2(R123,R456): 
    # Calcul
    return(R123+R456)

# Assignation de la resistance R123456
R123456=ser2(R123,R456)

# Fonction de calcul en derivations
def der2(R123456,R7):
    # Calcul
    return((R123456*R7)/(R123456+R7))

# Assignation de la resistance R1234567
R1234567=der2(R1,R23) 

#Affichage des resultats
print(f'la valeur de la resistance R23 est de {R23} ohm')
print (f'la valeur de la resistance R123 est de {R123:.3} ohm')
print (f'la valeur de la resistance R56 est de {R56:.3} ohm')
print(f'la valeur de la resistance R456 est de {R456:.3} ohm')
print(f'la valeur de la resistance R123456 est de {R123456:.3} ohm')
print (f'la valeur de la resistance R1234567 est de {R1234567:.3} ohm')

la valeur de la resistance R23 est de 60 ohm
la valeur de la resistance R123 est de 20.0 ohm
la valeur de la resistance R56 est de 15.0 ohm
la valeur de la resistance R456 est de 45.0 ohm
la valeur de la resistance R123456 est de 65.0 ohm
la valeur de la resistance R1234567 est de 20.0 ohm

# 2.Crible d’ÉRATOSTHÈNE:  
RAPPELS : Un nombre premier est un nombre entier positif (supérieur à 1) qui se trouve être divisible uniquement par lui-même (et par 1). Par exemple : 2, 3, 5, 7, 11, 13 ... Donc 4 n'est pas un nombre premier car il est divisible par 2 (2x2=4)

Pour vérifier si un nombre N est un nombre premier, on pourrait essayer de diviser celui-ci par tous les nombres entiers <N (et si on ne trouve pas de diviseurs, on dit qu'il est premier), mais cela prendrait trop de temps pour trouver tous les nombres premiers inférieurs à 1000 ou à 10000.

ÉRATOSTHÈNE a établi une méthode beaucoup plus efficace et plus rapide pour trouver tous les nombres premiers inférieurs à une borne donnée :

On écrit tous les nombres jusqu’à MAX (dans une liste par exemple : [2, 3, 4, ... ,MAX]).

On balaye ensuite la liste de gauche à droite.

Si un nombre n’est pas « barré », c’est un nombre premier. Dans ce cas, on « barre » tous ses multiples jusqu’à MAX.

Puis on teste le suivant, etc. jusqu’à MAX.

Les nombres restants sont premiers ! Il ne reste plus qu’à les afficher

1. Crée une liste contenant les valeurs de 2 jusqu’à MAX inclus.

In [5]:
#Ajout d'un input pour le max d'une liste
m=int(input('donner max:'))

#creation d'une liste
# pour x dans l'intervalle 2 a max 
for x in range (2,m):
    # si x est divisible par 2 a pour reste 0
    if x%2==0:
        # Afficher x
        print(x,end=' ')
    # Incrementation de x +1
    x+=1

2 4 6 8 10 12 14 16 18 20 22 24 26 28

2. Écrire ensuite une fonction qui réalise le  traitement de la  liste  conformément à la  méthode du crible
d’ÉRATOSTHÈNE. On représentera un nombre barré par le fait de remplacer sa valeur par zéro dans la liste.

In [81]:
#Ajout d'un input pour le max d'une liste
m=int(input('donner max:'))

# m=20
#Ajout de 1 pour pouvoir avoir la valeur max de max
m+=1
#intialisation de la variable j au format liste
j=[]

# creation de la liste
# pour x dans l'intervalle 2 a max 
for x in range (2,m):
    # Ajout de x a j
    j.append(x)

# debugage print(j)

#Methode Eratosthene
# pour x dans l'intervalle 0 a la taille de la liste : 
for x in range (0,len(j)):
    # si la valeur de x dans j est egales a 0 ou 1 
    if j[x]==0 or j[x]==1:
        # Continuer (continuer la boucle)
        continue
    
    # Pour y dans l'intervalle x+1 , taille de la liste :
    for y in range (x+1,len(j)):
        # Si la valeur de y dans j quand divise par la valeur de x dans j a pour reste 0  
        if j[y]%j[x]==0:
            # Assigner a cette position 0 
            j[y]=0
        
# affichage de la liste j avec les modification
print(j)

[2, 3, 0, 5, 0, 7, 0, 0, 0, 11, 0, 13, 0, 0, 0, 17, 0, 19, 0]

3. Écrire une fonction qui permette d’afficher tous les éléments non nuls d’une liste (ce qui reviendra à afficher
tous les nombres premiers inférieurs à MAX d’une liste traitée).

In [58]:
# Nouvelle liste nommer nl
nl = []
# pour x dans j:
for x in j:
    # si x est different de 0
    if x != 0:
        # Ajouter x a nl
        nl.append(x)
# filtre au niveau nl pour les valeurs vides
nl=list(filter(None,nl))
# Affichage de nl
print(nl)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37]

4. Comment transformer cette fonction pour n’obtenir que les nombres premiers dans la liste résultat ?

In [60]:
for x in nl:
    print(x, end=' ')

2 3 5 7 11 13 17 19 23 29 31 37

5. Écrire alors un programme qui détermine et affiche tous les nombres premiers inférieurs à 5000. Combien il y
en a-t-il ?

In [93]:
#Ajout d'un input pour le max d'une liste
# m=int(input('donner max:'))

m=5000
#Ajout de 1 pour pouvoir avoir la valeur max de max
m+=1
#intialisation de la variable j au format liste
j=[]

# creation de la liste
# pour x dans l'intervalle 2 a max 
for x in range (2,m):
    # Ajout de x a j
    j.append(x)

# debugage print(j)

#Methode Eratosthene
# pour x dans l'intervalle 0 a la taille de la liste : 
for x in range (0,len(j)):
    # si la valeur de x dans j est egales a 0 ou 1 
    if j[x]==0 or j[x]==1:
        # Continuer (continuer la boucle)
        continue
    
    # Pour y dans l'intervalle x+1 , taille de la liste :
    for y in range (x+1,len(j)):
        # Si la valeur de y dans j quand divise par la valeur de x dans j a pour reste 0  
        if j[y]%j[x]==0:
            # Assigner a cette position 0 
            j[y]=0
        
# affichage de la liste j avec les modification


# Nouvelle liste nommer nl
nl = []
# pour x dans j:
for x in j:
    # si x est different de 0
    if x != 0:
        # Ajouter x a nl
        nl.append(x)
# filtre au niveau nl pour les valeurs vides
nl=list(filter(None,nl))
# Affichage de nl
# print(nl, len(nl))
for x in nl:
    print(x, end=' \n')
print(f'Il y en a {len(nl)}')

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997
1009
1013
1019
1021
1031
1033
1039
1049
1051
1061
1063
1069
1087
1091
1093
1097
1103
1109
1117
1123
1129
1151
1153
1163
1171
1181
1187
1193
1201
1213
1217
1223
1229
1231
1237
1249
1259
1277
1279
1283
1289
1291
1297
1301
1303
1307
1319
1321
1327
1361
1367
1373
1381
1399
1409
1423
1427
1429
1433
1439
1447
1451
1453
1459
1471
1481
1483
1487
1489
1493
1499
1511
1523
1531
1543
1549
1553
1559
1567
1571
1579
1583
1597
1601
1607
1609
1613
1619
1621
1627
1637
1657
1663
1667
1669
1693
1697
1699
1709
1721
1723
1733
1741
1747
1753
1759
1777
1783
1787
1789
1801
1811
1823
1831
1847
1861
1867
1871
1873
1877
1879
1889
1901
1907
1913
1931
1933
1949
1951
1973
1979
1987
1993
1997
1999
2003
2011
2017
2027
2029
2039
2053
2063
2069
2081
2083
2087
2089
2099
2111
2113
2129
2131
2137
2141
2143
2153
2161
2179
2203
2207
2213
2221
2237
2239
2243
2251
2267
2269
2273
2281
2287
2293
2297
2309
2311
2333
2339
2341
2347
2351
2357
2371
2377
2381
2383
2389
2393
2399
2411
2417
2423
2437
2441
2447
2459
2467
2473
2477
2503
2521
2531
2539
2543
2549
2551
2557
2579
2591
2593
2609
2617
2621
2633
2647
2657
2659
2663
2671
2677
2683
2687
2689
2693
2699
2707
2711
2713
2719
2729
2731
2741
2749
2753
2767
2777
2789
2791
2797
2801
2803
2819
2833
2837
2843
2851
2857
2861
2879
2887
2897
2903
2909
2917
2927
2939
2953
2957
2963
2969
2971
2999
3001
3011
3019
3023
3037
3041
3049
3061
3067
3079
3083
3089
3109
3119
3121
3137
3163
3167
3169
3181
3187
3191
3203
3209
3217
3221
3229
3251
3253
3257
3259
3271
3299
3301
3307
3313
3319
3323
3329
3331
3343
3347
3359
3361
3371
3373
3389
3391
3407
3413
3433
3449
3457
3461
3463
3467
3469
3491
3499
3511
3517
3527
3529
3533
3539
3541
3547
3557
3559
3571
3581
3583
3593
3607
3613
3617
3623
3631
3637
3643
3659
3671
3673
3677
3691
3697
3701
3709
3719
3727
3733
3739
3761
3767
3769
3779
3793
3797
3803
3821
3823
3833
3847
3851
3853
3863
3877
3881
3889
3907
3911
3917
3919
3923
3929
3931
3943
3947
3967
3989
4001
4003
4007
4013
4019
4021
4027
4049
4051
4057
4073
4079
4091
4093
4099
4111
4127
4129
4133
4139
4153
4157
4159
4177
4201
4211
4217
4219
4229
4231
4241
4243
4253
4259
4261
4271
4273
4283
4289
4297
4327
4337
4339
4349
4357
4363
4373
4391
4397
4409
4421
4423
4441
4447
4451
4457
4463
4481
4483
4493
4507
4513
4517
4519
4523
4547
4549
4561
4567
4583
4591
4597
4603
4621
4637
4639
4643
4649
4651
4657
4663
4673
4679
4691
4703
4721
4723
4729
4733
4751
4759
4783
4787
4789
4793
4799
4801
4813
4817
4831
4861
4871
4877
4889
4903
4909
4919
4931
4933
4937
4943
4951
4957
4967
4969
4973
4987
4993
4999
Il y en a 669

# 3. Décomposition en facteurs premiers :
On cherche maintenant à factoriser un nombre entier en utilisant les nombres premiers que l’on vient de déterminer.

1. Écrire une fonction qui détermine les diviseurs d’un nombre entier en testant pour chaque nombre premier si
le reste de la division est nul ou pas ( determiner qu'elle nombres premier appartient a un nombre entier pour realiser ce nombre entier)

In [142]:
nbr=4032
result=[]
for y in nl:
    if nbr%y==0:
        print(y)
        result.append(y)

2
3
7

2. Comment trouver ensuite les puissances de chaque diviseurs ? Donner alors le résultat sous forme de liste de
tuples.

In [152]:

def decomposition(nbr):
    # nbr=int(input("entreer la valeur a decomposer :"))
    result=[]
    for y in nl :
        x=0
        while nbr%y==0 :
            x+=1
            nbr=nbr//y
        if x!=0: 
            result.append((y,x))
    return result
decomposition(541204020)

[(2, 2), (3, 2), (5, 1), (7, 2), (43, 1), (1427, 1)]

In [153]:
decomposition(541204180)

[(2, 2), (5, 1), (11, 1), (17, 1), (37, 1), (3911, 1)]

In [154]:
decomposition(146669667139293303318642251838158394533529602659455)

[(3, 2), (5, 1), (211, 1), (367, 8), (4649, 7)]

In [155]:
decomposition(57191917829970203366904687080421927585621410177728758804240866015859751025476977064161324049412097812553348506582041789545712378495079387086022458464258720081718619718596587749133967250809910621760510205719832815068546540921397989526355238291011876456118755238882366831037649848449076383547435571679385599334795966330175131054152929807966925969524364438783789101847733060120973714061089127351200212033277439358733722879685611031421713026571419034952139825726497586591109499648075243998439963933636254358620565337806862706679435322863163574526086660870463620842147280194411421632657273898463803549539198930379254376059732815806091527108509098224942301779781488757867562131041507272679635190986910134983840499252832503597546973156117876902152928604743292911201119261552281204112020920481155734554449956771346970944529016099778787456709978478042346841439501861362012422887435962429399199467612419387305454345445373580524923411837001598580996235307619771083407652630271772377123672049879465798881173710964418886591999466780776334461168904032693016290175280004897355349174)

[(2, 1), (3, 14), (41, 8), (601, 12), (2063, 41), (3821, 245)]